<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MyChef</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header id = "header">
    <div class="container">
        <h1 class="logo">
            <a href="/index" title="MYCHEF 홈으로 이동">
                <img src="/images/MyChefLogo.png" alt="myChef Logo">
            </a>
        </h1>
        <!-- util-area -->
        <div class="util-area">
            <div class="right-link">
                <a href="/signin" title="로그인">로그인</a>
                <a href="/signup" title="회원가입">회원가입</a>
            </div>
        </div>
    </div>

    <nav id="gnb">
        <ul class="gnb-depth1">
            <li title="MyChef 메인 화면으로 바로가기">
                <a href="/index" class="movie">HOME</a>
            </li>
            <li title="장소 등록으로 바로가기">
                <a href="addrestaurant" class="addRestaurant">ADD RESTAURANT</a>
                <div class="gnb-depth2 reserve-snb">
                    <ul>
                        <li><a href="/addrestaurantfunction">맛집 등록</a></li>
                        <li><a href="/addrestaurantplace">우리의 맛집</a></li>
                    </ul>
                </div>
            </li>
            <li title="레시피 등록으로 바로가기">
                <a href="/addrecipe" class="addRecipe">ADD RECIPE</a>
                <div class="gnb-depth2 theater-snb">
                    <ul>
                        <li><a href="/addrecipefunction">레시피 등록</a></li>
                        <li><a href="/addrecipeplace">우리의 레시피</a></li>
                    </ul>
                </div>
            </li>
            <li title="고객센터로 바로가기">
                <a href="/board/list" class="support">SUPPORT</a>
            </li>
        </ul>
    </nav>

</header>

<div class="layout">
    <form action="/board/writepro" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="음식 이름">
        <br>
        <br>
        <textarea name="content" placeholder="설명"></textarea>
        <br>
        <textarea name="content" placeholder="순서1"></textarea>
        <P>사진 첨부</P>
        <input type="file" name="file">
        <br>
        <br>
        <textarea name="content" placeholder="순서2"></textarea>
        <P>사진 첨부</P>
        <input type="file" name="file">
        <br>
        <br>
        <textarea name="content" placeholder="순서3"></textarea>
        <P>사진 첨부</P>
        <input type="file" name="file">
        <br>
        <br>
        <div class="button-container">
            <button type="submit">등록</button>
        </div>
    </form>
</div>


</body>
</html>