<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyChef</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header id = "header">
    <div class="container">
        <h1 class="logo">
            <a href="/index" title="MYCHEF 홈으로 이동">
                <img src="/images/MyChefLogo.png" alt="myChef Logo">
            </a>
        </h1>
        <!-- util-area -->
        <div class="util-area">
            <div class="right-link">
                <a href="#" title="로그인">로그인</a>
                <a href="#" title="회원가입">회원가입</a>
            </div>
        </div>
    </div>

    <nav id="gnb">
        <ul class="gnb-depth1">
            <li title="MyChef 메인 화면으로 바로가기">
                <a href="/index" class="movie">HOME</a>
            </li>
            <li title="장소 등록으로 바로가기">
                <a href="#" class="addRestaurant">ADD RESTAURANT</a>
                <div class="gnb-depth2 reserve-snb">
                    <ul>
                        <li><a href="">맛집 등록</a></li>
                        <li><a href="">우리의 맛집</a></li>
                    </ul>
                </div>
            </li>
            <li title="레시피 등록으로 바로가기">
                <a href="#" class="addRecipe">ADD RECIPE</a>
                <div class="gnb-depth2 theater-snb">
                    <ul>
                        <li><a href="">레시피 등록</a></li>
                        <li><a href="">우리의 레시피</a></li>
                    </ul>
                </div>
            </li>
            <li title="고객센터로 바로가기">
                <a href="#" class="support">SUPPORT</a>
            </li>
        </ul>
    </nav>
</header>

<h1 th:text="${board.title}">제목입니다</h1>
<p th:text="${board.content}">내용이 들어갈 부분입니다</p>
<a th:href="@{${board.filepath}}">이미지 보기</a>
<a th:href="@{/board/delete(id=${board.id})}">글 삭제</a>
<a th:href="@{/board/modify/{id}(id=${board.id})}">수정</a>

</body>
</html>