<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyChef</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header id = "header">
    <div class="container">
        <h1 class="logo">
            <a href="/index" title="MYCHEF 홈으로 이동">
                <img src="/images/MyChefLogo.png" alt="myChef Logo">
            </a>
        </h1>
        <!-- util-area -->
        <div class="util-area">
            <div class="right-link">
                <a href="#" title="로그인">로그인</a>
                <a href="#" title="회원가입">회원가입</a>
            </div>
        </div>
    </div>

    <nav id="gnb">
        <ul class="gnb-depth1">
            <li title="MyChef 메인 화면으로 바로가기">
                <a href="/index" class="movie">HOME</a>
            </li>
            <li title="장소 등록으로 바로가기">
                <a href="#" class="addRestaurant">ADD RESTAURANT</a>
                <div class="gnb-depth2 reserve-snb">
                    <ul>
                        <li><a href="">맛집 등록</a></li>
                        <li><a href="">우리의 맛집</a></li>
                    </ul>
                </div>
            </li>
            <li title="레시피 등록으로 바로가기">
                <a href="#" class="addRecipe">ADD RECIPE</a>
                <div class="gnb-depth2 theater-snb">
                    <ul>
                        <li><a href="">레시피 등록</a></li>
                        <li><a href="">우리의 레시피</a></li>
                    </ul>
                </div>
            </li>
            <li title="고객센터로 바로가기">
                <a href="#" class="support">SUPPORT</a>
            </li>
        </ul>
    </nav>
</header>

<div class="layout">
    <div class="form-container">
        <form action="/board/write" method="get" enctype="multipart/form-data" class="write-button">
            <button type="submit">문의 작성</button>
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : orangered"></strong>
        </th:block>
    </div>

    <div class="form-container">
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>

</div>


</body>
</html>