#header .logo a {
    position: absolute;
    left: 50%;
    top: 23px;
    transform: translateX(-50%);
    display: block;
    width: 140px;
    height: 47px;
    text-indent: -9999px;
    background: url(static/images/MyChefLogo.png);
}