<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyChef</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header id = "header">
    <div class="container">
        <h1 class="logo">
            <a href="/index" title="MYCHEF 홈으로 이동">
                <img src="/images/MyChefLogo.png" alt="myChef Logo">
            </a>
        </h1>
        <!-- util-area -->
        <div class="util-area">
            <div class="right-link">
                <a href="#" title="로그인">로그인</a>
                <a href="#" title="회원가입">회원가입</a>
            </div>
        </div>
    </div>

    <nav id="gnb">
        <ul class="gnb-depth1">
            <li title="MyChef 메인 화면으로 바로가기">
                <a href="/index" class="movie">HOME</a>
            </li>
            <li title="장소 등록으로 바로가기">
                <a href="#" class="addRestaurant">ADD RESTAURANT</a>
                <div class="gnb-depth2 reserve-snb">
                    <ul>
                        <li><a href="">맛집 등록</a></li>
                        <li><a href="">우리의 맛집</a></li>
                    </ul>
                </div>
            </li>
            <li title="레시피 등록으로 바로가기">
                <a href="#" class="addRecipe">ADD RECIPE</a>
                <div class="gnb-depth2 theater-snb">
                    <ul>
                        <li><a href="">레시피 등록</a></li>
                        <li><a href="">우리의 레시피</a></li>
                    </ul>
                </div>
            </li>
            <li title="고객센터로 바로가기">
                <a href="/board/list" class="support">SUPPORT</a>
            </li>
        </ul>
    </nav>

    <form method="post" th:action="@{/user/save}">
        <h1 class="h3 mb-3 fw-normal text-center">로그인</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="id" placeholder="아이디">
            <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="패스워드">
            <label for="floatingPassword">패스워드</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingEmail" name="email" placeholder="이메일">
            <label for="floatingPassword">이메일</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingName" name="name" placeholder="이름">
            <label for="floatingName">이름</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">가입하기</button>
    </form>
</header>

<main id="main">
    <div id="map"></div>
</main>
</body>
</html>